<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>RoleBasedSecurity</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/main.css" />
    </head>
    <body>
        <div th:replace="fragments/header :: nav"></div>

        <div class="jumbotron">
            <div class="container">
                <h1>Hello, <span th:text="${name}"></span>!</h1>
                <p>This is a test application for the implementation of a role-based security system in Spring Security.</p>
                <p><a class="btn btn-primary btn-lg" href="https://github.com/lukaswerner/RoleBasedSecurity.git" role="button">@GitHub &raquo;</a></p>
            </div>
        </div>

        <div class="container">
            <!-- Example row of columns -->
            <div class="row">
                <div class="col-md-4">
                    <h2>Hierarchical roles</h2>
                    <p>The roles, which are manageable through this web app represent the core of the role-based
                        security system.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Users</h2>
                    <p>Users in this app are the users just as you know it. They have user names, passwords and names.
                        They can be associated with roles. Roles can have certain rights (read, write, delete) on
                        objects. Further on you can sign in by entering your credentials on the corresponding page.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
                <div class="col-md-4">
                    <h2>Objects</h2>
                    <p>Objects are simple abstract entities, which you can create, show, edit and delete. These are simple
                        database entries with associated roles and the proper rights. So if you are in a role which has
                        the proper rights (read, write, delete), you can perform certain actions.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </div>
            </div>

            <div th:replace="fragments/footer :: footer"></div>
        </div>

        <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>