<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>RoleBasedSecurity</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    </head>
    <body>
        <div th:replace="fragments/header :: nav"></div>

        <div class="container">
            <h1>All Authors</h1>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>authorname</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="author : ${authors}">
                        <td>
                            <a href="#" th:href="@{/manage/author/{authorId}(authorId=${author.id})}" th:text="${author.id}">&nbsp;</a>
                        </td>
                        <td>
                            <a href="#" th:href="@{/manage/author/{authorId}(authorId=${author.id})}" th:text="${author.name}">&nbsp;</a>
                        </td>
                        <td class="text-right">
                            <!-- TODO Embedded JS doesn't work -->
                            <span th:if="${getCurrentUser.canWrite(author)}"  >
                               <a href="#" th:href="@{/manage/author/edit/{authorId}(authorId=${author.id})}" class="btn btn-warning">
                                   <span class="glyphicon glyphicon-pencil"></span> Edit
                               </a>
                            </span>
                           <span th:unless="${getCurrentUser.canWrite(author)}"  >
                               <button th:type="button" class="btn btn-warning disabled">
                                   <span class="glyphicon glyphicon-pencil"></span> Edit
                               </button>
                           </span>
                           <span th:if="${getCurrentUser.canDelete(author)}"  >
                               <a href="#" th:href="@{/manage/author/delete/{authorId}(authorId=${author.id})}" class="btn btn-danger" th:onclick="'return confirm(\'Are you sure, you want to delete this record?\');'">
                                   <span class="glyphicon glyphicon-remove"></span> Delete
                               </a>
                           </span>
                           <span th:unless="${getCurrentUser.canDelete(author)}"  >
                               <button th:type="button" class="btn btn-danger disabled">
                                   <span class="glyphicon glyphicon-remove"></span> Delete
                               </button>
                           </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p><a href="#" th:href="@{/manage/author/create}" class="btn btn-default">Create new author</a></p>

            <div th:replace="fragments/footer :: footer"></div>
        </div>

        <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>