<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>RoleBasedSecurity</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    </head>
    <body>
        <div th:replace="fragments/header :: nav"></div>

        <div class="container">
            <h1>All Books</h1>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>isbn</th>
                        <th>title</th>
                        <th>author</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="book : ${books}">
                        <td>
                            <a href="#" th:href="@{/manage/book/{bookId}(bookId=${book.id})}" th:text="${book.id}">&nbsp;</a>
                        </td>
                        <td>
                            <a href="#" th:href="@{/manage/book/{bookId}(bookId=${book.id})}" th:text="${book.isbn}">&nbsp;</a>
                        </td>
                        <td>
                            <a href="#" th:href="@{/manage/book/{bookId}(bookId=${book.id})}" th:text="${book.title}">&nbsp;</a>
                        </td>
                        <td>
                            <a href="#" th:href="@{/manage/book/{bookId}(bookId=${book.author?.id})}" th:text="${book.author?.name}">&nbsp;</a>
                        </td>
                        <td class="text-right">
                            <!-- TODO Embedded JS doesn't work -->
                            <a href="#" th:href="@{/manage/book/edit/{bookId}(bookId=${book.id})}" class="btn btn-warning">
                                <span class="glyphicon glyphicon-pencil"></span> Edit
                            </a>
                            <a href="#" th:href="@{/manage/book/delete/{bookId}(bookId=${book.id})}" class="btn btn-danger" th:onclick="'return confirm(\'Are you sure, you want to delete this record?\');'">
                                <span class="glyphicon glyphicon-remove"></span> Delete
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <p><a href="#" th:href="@{/manage/book/create}" class="btn btn-default">Create new book</a></p>

            <div th:replace="fragments/footer :: footer"></div>
        </div>

        <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>