<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>RoleBasedSecurity</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    </head>
    <body>
        <div th:replace="fragments/header :: nav"></div>

        <div class="container">
            <h1>Book</h1>
            <div th:with="message=${hintMessage}" >
                <div th:if="${message != '' }"  class="alert alert-danger">
                    <span th:text="${message}" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>id</strong></div>
                <div class="col-md-10"><span th:text="${book.id}">&nbsp;</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>isbn</strong></div>
                <div class="col-md-10"><span th:text="${book.isbn}">&nbsp;</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>title</strong></div>
                <div class="col-md-10"><span th:text="${book.title}">&nbsp;</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>author</strong></div>
                <div class="col-md-10"><span th:text="${book.author?.name}">&nbsp;</span></div>
            </div>
            <h2>Roles</h2>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>name</th>
                            <th class="text-center">can read</th>
                            <th class="text-center">can write</th>
                            <th class="text-center">can delete</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="roleObject : ${book.roleObjects}">
                            <td><a th:href="@{/manage/role/{roleId}(roleId=${roleObject.role.id})}" th:text="${roleObject.role.name}">&nbsp;</a></td>
                            <td class="text-center">
                                <span th:class="${roleObject.canRead} ? 'text-success glyphicon glyphicon-ok' : 'text-danger glyphicon glyphicon-remove'"></span>
                            </td>
                            <td class="text-center">
                                <span th:class="${roleObject.canWrite} ? 'text-success glyphicon glyphicon-ok' : 'text-danger glyphicon glyphicon-remove'"></span>
                            </td>
                            <td class="text-center">
                                <span th:class="${roleObject.canDelete} ? 'text-success glyphicon glyphicon-ok' : 'text-danger glyphicon glyphicon-remove'"></span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p>&nbsp;</p>
            <p><a href="#" th:href="@{/manage/book}" class="btn btn-default">All books</a>
                <span th:if="${getCurrentUser.canWrite(book)}"  >
                    <a href="#" th:href="@{/manage/book/edit/{bookId}(bookId=${book.id})}" class="btn btn-warning">
                        <span class="glyphicon glyphicon-pencil"></span> Edit book
                    </a>
                </span>
                <span th:unless="${getCurrentUser.canWrite(book)}"  >
                   <button th:type="button" class="btn btn-warning disabled">
                        <span class="glyphicon glyphicon-pencil"></span> Edit book
                    </button>
                </span>
            </p>

            <div th:replace="fragments/footer :: footer"></div>
        </div>

        <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>