<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>RoleBasedSecurity</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    </head>
    <body>
        <div th:replace="fragments/header :: nav"></div>

        <div class="container">
            <h1>Book</h1>
            <div class="row">
                <div class="col-md-2"><strong>id</strong></div>
                <div class="col-md-10"><span th:text="${book.id}">&nbsp;</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>isbn</strong></div>
                <div class="col-md-10"><span th:text="${book.isbn}">&nbsp;</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>title</strong></div>
                <div class="col-md-10"><span th:text="${book.title}">&nbsp;</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>author</strong></div>
                <div class="col-md-10"><span th:text="${book.author?.name}">&nbsp;</span></div>
            </div>
            <p>&nbsp;</p>
            <p><a href="#" th:href="@{/manage/book}" class="btn btn-default">All books</a>
                <a href="#" th:href="@{/manage/book/edit/{bookId}(bookId=${book.id})}" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span> Edit book
                </a>
            </p>

            <div th:replace="fragments/footer :: footer"></div>
        </div>

        <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>