<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>RoleBasedSecurity</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    </head>
    <body>
        <div th:replace="fragments/header :: nav"></div>

        <div class="container">
            <h1>All Objects</h1>
            <table class="table table-hover table-striped">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>toString</th>
                        <th class="text-center">can read</th>
                        <th class="text-center">can write</th>
                        <th class="text-center">can delete</th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="object : ${objects}">
                        <td>
                            <a href="#" th:href="@{/manage/object/{objectId}(objectId=${object.id})}" th:text="${object.id}">&nbsp;</a>
                        </td>
                        <td>
                            <a href="#" th:href="@{/manage/object/{objectId}(objectId=${object.id})}" th:text="${object.toString()}">&nbsp;</a>
                        </td>
                        <td class="text-center">
                            <span th:class="${getCurrentUser.canRead(object)} ? 'text-success glyphicon glyphicon-ok' : 'text-danger glyphicon glyphicon-remove'"></span>
                        </td>
                        <td class="text-center">
                            <span th:class="${getCurrentUser.canWrite(object)} ? 'text-success glyphicon glyphicon-ok' : 'text-danger glyphicon glyphicon-remove'"></span>
                        </td>
                        <td class="text-center">
                            <span th:class="${getCurrentUser.canDelete(object)} ? 'text-success glyphicon glyphicon-ok' : 'text-danger glyphicon glyphicon-remove'"></span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div th:replace="fragments/footer :: footer"></div>
        </div>

        <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>