<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>RoleBasedSecurity</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css"/>
        <link rel="stylesheet" type="text/css" href="/css/main.css"/>
    </head>
    <body>
        <div th:replace="fragments/header :: nav"></div>

        <div class="container">
            <h1>Role</h1>
            <div class="row">
                <div class="col-md-2"><strong>id</strong></div>
                <div class="col-md-10"><span th:text="${role.id}">&nbsp;</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>parent role</strong></div>
                <div class="col-md-10"><span th:text="${role.parentRole?.name}">&nbsp;</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>name</strong></div>
                <div class="col-md-10"><span th:text="${role.name}">&nbsp;</span></div>
            </div>
            <div class="row">
                <div class="col-md-2"><strong>users</strong></div>
                <div class="col-md-4">
                    <span th:each="user : ${role.users}"><a th:href="@{/manage/user/{userId}(userId=${user.id})}" th:text="${user.username}">&nbsp;</a></span>
                </div>
            </div>
            <h2>Objects</h2>
            <div class="row">
                <div class="col-md-6">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>name</th>
                                <th class="text-center">can read</th>
                                <th class="text-center">can write</th>
                                <th class="text-center">can delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="roleObject : ${role.roleObjects}">
                                <td><a th:href="@{/manage/object/{objectId}(objectId=${roleObject.object.id})}" th:text="${roleObject.object.name}">&nbsp;</a></td>
                                <td class="text-center">
                                    <span th:class="${roleObject.canRead} ? 'text-success glyphicon glyphicon-ok' : 'text-danger glyphicon glyphicon-remove'"></span>
                                </td>
                                <td class="text-center">
                                    <span th:class="${roleObject.canWrite} ? 'text-success glyphicon glyphicon-ok' : 'text-danger glyphicon glyphicon-remove'"></span>
                                </td>
                                <td class="text-center">
                                    <span th:class="${roleObject.canDelete} ? 'text-success glyphicon glyphicon-ok' : 'text-danger glyphicon glyphicon-remove'"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <p>&nbsp;</p>
            <p><a href="#" th:href="@{/manage/role}" class="btn btn-default">Back to all roles</a>
                <a href="#" th:href="@{/manage/role/edit/{roleId}(roleId=${role.id})}" class="btn btn-warning">
                    <span class="glyphicon glyphicon-pencil"></span> Edit role
                </a></p>

            <div th:replace="fragments/footer :: footer"></div>
        </div>

        <script type="text/javascript" src="/js/jquery-1.11.2.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="/js/main.js"></script>
    </body>
</html>